[submodule "src/dependencies/ldd-cart"]
	path = src/dependencies/ldd-cart
	url = https://github.com/pds-data-dictionaries/ldd-cart
	branch = main
[submodule "src/dependencies/ldd-geom"]
	path = src/dependencies/ldd-geom
	url = https://github.com/pds-data-dictionaries/ldd-geom
	branch = main
